@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Work+Sans:wght@500&display=swap');

$headerHeight: 80px;
$imgWidth: 370px;
$imgHeight: 370px;
$mainContentTextWidth: 280px;
$DarkThemeBackgraundColor: #111827;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    background-color: white;
}

#root {
    // width: 100%;
    // height: 100%;
    margin: 0;
}

//SEPERARTÖR -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.header {
    width: 100%;
    height: $headerHeight;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 5px 0px rgba($color: #000000, $alpha: .3);

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;

        & li {
            list-style-type: none;

            & .link {
                text-decoration: none;
                list-style-type: none;
                font-size: large;
                font-weight: 600;
                margin-left: 10px;
                color: black;

                // &:hover {
                //     color: rgba(255, 255, 255, .7);
                //     transition: 750ms ease;
                //     cursor: pointer;
                // }
            }
        }
    }

    & img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 40px;
        cursor: pointer;
    }

    & .temaButton{
        font-size: large;
        font-weight: 600;
        position: absolute;
        right: 40px;
        color: black;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.headerDark{
    width: 100%;
    height: $headerHeight;
    background-color: $DarkThemeBackgraundColor;
    // background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 2px solid white;

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;

        & li {
            list-style-type: none;

            & .link {
                text-decoration: none;
                list-style-type: none;
                font-size: large;
                font-weight: 600;
                margin-left: 10px;
                color: white;

                // &:hover {
                //     color: rgba(255, 255, 255, .7);
                //     transition: 750ms ease;
                //     cursor: pointer;
                // }
            }
        }
    }

    & img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 40px;
        cursor: pointer;
    }

    & .temaButton{
        font-size: large;
        font-weight: 600;
        position: absolute;
        right: 40px;
        color: white;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }
}

//SEPERARTÖR -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: white;

    & .maincontent {
        width: 750px;
        height: calc(100vh - 80px);
        box-sizing: border-box;
        background-color: white;
        margin: 0;
        padding: 0;
        border-left: 2px solid black;
        border-right: 2px solid black;

        & .batuFoto {
            width: 100%;
            height: 400px;
            margin-bottom: 20px;
        }

        & .maincontent-text {
            width: 100%;
            height: max-content;

            & p {
                margin: 0;
                font-size: 17;
                color: black;
            }
        }
    }
}

.mainDark {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: $DarkThemeBackgraundColor;

    & .maincontent {
        width: 750px;
        height: calc(100vh - 80px);
        box-sizing: border-box;
        background-color: black;
        margin: 0;
        padding: 0;
        border-left: 2px solid white;
        border-right: 2px solid white;

        & .batuFoto {
            width: 100%;
            height: 400px;
            margin-bottom: 20px;
        }

        & .maincontent-text {
            width: 100%;
            height: max-content;
            color: white;
        }
    }
}

.text {
    color: black;
    background-color: white;
}

.textDark {
    color: white;
    background-color: black;
}

@media screen and (max-width:420px) {
    .main {
        display: flex;
        justify-content: center;
        width: 100%;
        height: calc(100vh - 80px);
    
        .mainContent {
            width: 750px;
            box-sizing: border-box;
            height: calc(100vh - 80px);
            background-color: white;
            margin: 0;
            padding: 0 !important;
    
            & img {
                width: 100%;
                height: 300px;
                margin-bottom: 20px;
            }
    
            & .mainContent-text {
                color: black;
                width: 100%;
                height: max-content;
    
                & p {
                    margin: 0;
                    font-size: 17px;
                }
            }
        }
    }
}

@media screen and (max-width:320px) {
    .main {
        display: flex;
        justify-content: center;
        width: 100%;
        height: calc(100vh - 80px);
    
        .mainContent {
            width: 750px;
            box-sizing: border-box;
            height: calc(100vh - 80px);
            background-color: white;
            margin: 0;
            padding: 0 !important;
    
            & img {
                width: 100%;
                height: 230px;
                margin-bottom: 20px;
            }
    
            & .mainContent-text {
                color: black;
                width: 100%;
                height: max-content;
    
                & p {
                    margin: 0;
                    font-size: 17px;
                }
            }
        }
    }
}

//SEPERARTÖR -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.footer {
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top:2px solid black;

    & .instagram-icon {
        width: 25px;
        height: 25px;
        fill: rgba($color: #000000, $alpha: .6);
        margin-right: 20px;
    }

    & .github-icon {
        width: 25px;
        height: 25px;
        fill: rgba($color: #000000, $alpha: .6);
        margin-right: 20px;
    }

    & .linkedin-icon {
        width: 25px;
        height: 25px;
        fill: rgba($color: #000000, $alpha: .6);
    }
}

.footerDark {
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $DarkThemeBackgraundColor;
    border-top:2px solid white;

    & .instagram-icon {
        width: 25px;
        height: 25px;
        fill: white;
        margin-right: 20px;
    }

    & .github-icon {
        width: 25px;
        height: 25px;
        fill: white;
        margin-right: 20px;
    }

    & .linkedin-icon {
        width: 25px;
        height: 25px;
        fill: white;
    }
}


@media screen and (max-width:420px) {
    .footer{
        border: none;
    }
}

//------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// PAGES OKUL
//------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.okulContent{
    background-color: white;
    height: max-content;
    display: flex;
    flex-direction: column;

    & .todo{
        color: black;
    }
}

.okulContentDark{
    background-color: $DarkThemeBackgraundColor;

    & h1{
        color: white;
    }

    & .todoDark{
        color: white;
    }
}